<article>
  <h1># {{ post.title | escape }}</h1>
  <p class="mb-0"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date }}</time> by {{ post.author }}</p>
  <p class="caution">&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;.&#x25B0;</p>
  {{ post.content }}
</article>