<nav class="text-center">
  <a href="{{ site.url }}">
    <img class="pb-1" src="/assets/images/cci.png" />
    <h1 class="mb-1">Coral Carrier Incarnadine</h1>
  </a>
  <h2 class="mb-5"><em>a game for <a href="https://monome.org">monome norns</a></em></h2>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-6">
        <p class="mb-0">CCI</p>
        <a href="https://github.com/northern-information/cci">
          <img src="https://img.shields.io/github/v/release/northern-information/cci?sort=semver&color=%23f">
        </a>
      </div>
      <div class="col-6">
        <p class="mb-0">HECATOMB</p>
        <a href="https://github.com/northern-information/hecatomb">
          <img src="https://img.shields.io/github/v/release/northern-information/hecatomb?sort=semver&color=%23f">
        </a>
      </div>
    </div>
  </div>
  <h2 class="mb-5"><em>{{ site.description }}</em></h2>
  <a href="https://nor.the-rn.info">
    <img src="/assets/images/applied-sciences-and-phantasms-working-division.png" class="mb-5"/>
  </a>
  <ul>
    <li class="mb-4"><a class="btn btn-lg d-block" href="/canon">CANON</a></li>
    <li class="mb-4"><a class="btn btn-lg d-block" href="https://l.llllllll.co/cci">COMMUNITY</a></li>
    <li class="mb-4"><a class="btn btn-lg d-block" href="/feed.xml">XML</a></li>
  </ul>
  <p class="mb-5">By the time development of this game is complete, most of earth's coral reefs could be dead.</p>
</nav>