<nav>
  <a href="{{ site.url }}">
    <img class="pb-1" src="/assets/images/cci.png" />
    <h1 class="mb-1 text-center">Coral Carrier Incarnadine</h1>
  </a>
  <h2 class="mb-3 text-center"><em>a game for <a href="https://monome.org">monome norns</a> </em></h2>
  <ul>
    <li class="mb-4"><a href="https://github.com/northern-information/coral_carrier_incarnadine"><img src="https://img.shields.io/github/v/release/northern-information/coral_carrier_incarnadine?sort=semver&color=%23f"></a></li>
    <li class="mb-4"><a class="btn btn-lg" href="/canon">CANON</a></li>
    <li class="mb-4"><a class="btn btn-lg" href="https://l.llllllll.co/cci">COMMUNITY</a></li>
    <li class="mb-4"><a class="btn btn-lg" href="/feed.xml">XML</a></li>
  </ul>
  <h2 class="mb-5"><em>{{ site.description }}</em></h2>
  <p class="mb-5">By the time development of this game is complete, most of earth's coral reefs could be dead.</p>
  <a href="https://nor.the-rn.info"><img src="/assets/images/applied-sciences-and-phantasms-working-division.png"/></a>
</nav>