$sky: #aff7ff
$sun: #feeb14
$light: #fff
$dark: #000

::selection
  background: $sun
  color: $dark

body
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  color: $light
  background: $dark
  font-size: 1rem

.btn
  transition: none
  color: $light
  border-radius: 0
  border: 2px solid $light

  &:hover
    color: $dark
    background: $light

img
  filter: none
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  width: 100%

img:hover
  -webkit-filter: grayscale(0%)
  -moz-filter: grayscale(0%)
  -ms-filter: grayscale(0%)
  -o-filter: grayscale(0%)


.caution
  overflow: hidden

article
  margin-bottom: 200px

  img
    border: 1px solid $sky

  pre
    color: $dark
    background: $light
    padding: 1rem

  code
    color: $dark
    background: $light
    padding: .5rem

  pre code
    padding: 0
    background: none

  hr
    opacity: 1

  hr:not([size])
    height: 2px


nav
  text-align: center
  color: $light

  h1, h2
    font-size: 1rem

  h2 a
    text-decoration: underline

  a
    text-decoration: none
    color: $light

    &:hover
      color: $sun
      text-decoration: underline
