$fathom: #330033
$sky: #0cf0cf
$refraction: #d8f9ff
$intoxicant: #60f60f
$lust: #cc33ff
$black: #000000

body
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
  color: $intoxicant
  background: $black

img
  width: 100%


.aspwd img
  filter: none
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)

.aspwd:hover img
  filter: none
  -webkit-filter: grayscale(0%)
  -moz-filter: grayscale(0%)
  -ms-filter: grayscale(0%)
  -o-filter: grayscale(0%)